{% extends "base.html" %}

{% block title %}
    Archive Page 
{% endblock %}

{% block content_left %}
    On the Archive page the manager will be able to view all records recorded.
    This will also include a filter system to allow filters such as time and
    by barber.
{% endblock %}

{% block content_right %}
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
    ARCHIVE
{% endblock %}
