{% extends "base.html" %}

{% block title %}
    Get your name on the list
{% endblock %}

{% block content_left %}

    <div class="row-fluid">
        <h1>Hey Guys! You need to know this!!</h1>
        <h4 class="italic">We take our customers in order as they appear on the
        waiting list.* <br> If you enter your name below, we will
        add you to the waiting list. <br> If you don’t call ahead
        or enter you name below,<br> add your name to the waiting list
        when you arrive. <br>
        <div class="trim"> *Courtesy neck trims and touch-ups always
        receive priority service!</div></h4>
        <hr>
        <h3> Get Your Name on the List! </h3>
        <form class="well" method="post" action=".">
            {% csrf_token %}
            <input type="text" id="name" name="name" size="20"
                placeholder="enter name">
            <input type="submit" button class="btn btn-info" 
                value="Add Name" name="submit">
        </form>
    </div>
{% endblock %}

{% block content_right %}
    <div class="row-fluid">
        <div class="row-fluid show-grid">
            <div class="span6">
                <ol>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                        <li>LORAN</li>
                    {% for object in customers %}
                        <li>{{object.name}} </li>
                    {% endfor %}
                </ol>

            </div>
            <div class="span6">
                <ul>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                        <li>JOHN</li>
                    {% for object in customers %}
                        <li>{{object.barber}} </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
