{% extends "base.html" %}

{% block title %}
    Get your name on the list
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h1> BarberList </h1>
            <div class="row-fluid show-grid">
                <div class="span6">
                    <ul>
                        <li>Fred</li>
                        <li>Danny</li>
                        <li>Tom</li>
                        <li>Kenny</li>
                    </ul>

                </div>
                <div class="span6">
                    <ul>
                        <li>John</li>
                        <li>Phill</li>
                        <li>John</li>
                        <li>Phill</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
